<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand">
      <img src="../../../assets/img/logo-gobernacion.png" alt="Logo" width="300" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">

          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Agregar</a></li>
            <li><a class="dropdown-item" href="#">Listar</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">

          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Agregar</a></li>
            <li><a class="dropdown-item" href="#">Listar</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">

          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Agregar</a></li>
            <li><a class="dropdown-item" href="#">Listar</a></li>
          </ul>
        </li>

      </ul>
      <form class="d-flex" role="search">
        <a class="text-white-50 text-decoration-none"><i class="bi bi-window-stack"></i> SISTEMA DE CONFLICTOS</a>
      </form>
    </div>
  </div>
</nav>


<div class="container ">

  <div class="row justify-content-center mt-4">
    <div class="col-5 text-center">
      <img src="../../../assets/img/estadoPrurinacional.png" width="200" alt="Acceso al sistema">
    </div>
  </div>

  <div class="row justify-content-center p-4 p-sm-0">
    <form class="col-12 col-sm-8 col-lg-5 col-xl-4 bg-white p-3 form-login">
      <div class="text-center mb-4">
        INICIA SESIÓN AQUI
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="*email" autocomplete="off">
        <div id="emailHelp" class="form-text">El email es obligatorio</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="*contraseña"
          autocomplete="off">
        <div id="emailHelp" class="form-text">La contraseña es obligatoria</div>
      </div>
      <div class="d-flex justify-content-between">
        <div class="align-self-center mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Recuerdame</label>
        </div>
        <button type="submit" class="btn btn-primary text-uppercase">Ingresar</button>
      </div>
    </form>
  </div>

</div>
