<!-- Migajas de Pan -->
<div class="container fade animated fadeIn fast">
  <app-breadcrumbs></app-breadcrumbs>
</div>


<!-- Boton de crear nueva reunión -->
<div class="container fade animated fadeIn fast">
  <div class="row">
    <div class="col-12">
      <div class="crear-reunion d-flex justify-content-end">
        <button class="btn btn-primary text-uppercase" data-bs-toggle="modal" data-bs-target="#myModal_agregar"><i
            class="bi bi-card-heading"></i> Crear
          Reunión</button>
      </div>
    </div>
  </div>
</div>




<!-- Tabla reuniones -->
<div class="container mt-4 fade animated fadeIn fast">

  <!-- Loading -->

  <div *ngIf="this.cargando" class="row animated fadeIn fast">
    <div class="col-12">
      <div class="alert alert-primary text-center">
        <h4 class="alert-heading">Cargando</h4>
        <i class="fa fa-spin fa-refresh fa-2x"></i>
        <p class="mb-0">Por favor espere</p>
      </div>
    </div>
  </div>

  <div *ngIf="!this.cargando" class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table tabla-datos">
          <thead class="table bg-primary texto-tabla">
            <tr class="text">
              <th style="width: 5%;">Codigo</th>
              <th style="width: 20%;">Motivo</th>
              <th>Prioridad</th>
              <th style="width: 12%;">Fecha reunión</th>
              <th>Estado</th>
              <th>Usuario</th>
              <th style="width:11%;">Estado reunión</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody class="bg-white">
            <tr class="datos" *ngFor="let item of this.reuniones">
              <td>{{ item.id }}</td>
              <td>{{ item.motivo }}</td>
              <td>{{ item.prioridad }}</td>
              <td>{{ item.fecha_reunion }}</td>
              <td *ngIf="item.estado;else estados"><span class="text-success">Habilitado</span></td>
              <ng-template #estados>
                <td><span class="text-danger">Deshabilitado</span></td>
              </ng-template>

              <td>{{ item.user.nombres }} {{ item.user.apellidos }}</td>

              <td *ngIf="item.estado_reunion;else estadoReunion"><span class="text-success">Concluido</span></td>
              <ng-template #estadoReunion>
                <td><span class="text-danger">Pendiente</span></td>
              </ng-template>

              <td>
                <div class="d-flex">
                  <a class="text-secondary cursor-pointer" title="Ver Reunión"><i class="icon-font fa fa-eye"></i></a>

                  <a (click)="this.modificarReunion(item.id)" class="ms-3 text-warning cursor-pointer"
                    title="Editar Reunión"><i class="icon-font fa fa-pencil"></i></a>

                  <a (click)="this.destroyReunion(item.id, item.motivo)" class="ms-3 text-danger cursor-pointer"
                    title="Dar de baja reunión"><i class="icon-font fa fa-trash"></i></a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<!-- Modal_registrar_reuniones -->
<div class="modal fade animated fadeIn fast" id="myModal_agregar" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h1 class="modal-title fs-5 text-white display-6" id="exampleModalLabel">REGISTRO DE CONFLICTOS</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Formulario reunion -->
      <form class="ps-4 pt-4 pe-4 pb-0" [formGroup]="this.formulario" (ngSubmit)="submit()">
        <div class="modal-body">
          <div class="row">
            <!-- Campos motivo -->
            <div class="col-12 col-md-6 form-group">
              <p class="mb-0">Motivo:</p>
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Motivo</mat-label>
                <input type="text" matInput formControlName="motivo" autocomplete="off" spellcheck="false">

                <!-- Validacion -->
                <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                <mat-hint *ngIf="this.motivo?.invalid && (this.motivo?.dirty || this.motivo?.touched)">
                  <!-- Errores con expresiones regulares -->
                  <div *ngIf="this.motivo?.hasError('required')" class="animated fadeIn fast text-danger" id="">
                    Este campo es requerido.
                  </div>
                </mat-hint>
              </mat-form-field>
            </div>

            <!-- Campo fecha Reunión -->
            <div class="col-12 col-md-6 form-group">
              <!-- Fecha reunion -->
              <p class="m-t-30 mb-0">Fecha reunión:</p>
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Fecha reunión</mat-label>
                <input formControlName="fecha_reunion" matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <!-- Validacion -->
                <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                <mat-hint
                  *ngIf="this.fecha_reunion?.invalid && (this.fecha_reunion?.dirty || this.fecha_reunion?.touched)">
                  <!-- Errores con expresiones regulares -->
                  <div *ngIf="this.fecha_reunion?.hasError('required')" class="animated fadeIn fast text-danger" id="">
                    Este campo es requerido.
                  </div>
                </mat-hint>
              </mat-form-field>
            </div>
          </div>


          <!-- Campos Asunto -->
          <div class="row form-group">

            <p class="mb-1">Asunto:</p>
            <quill-editor class="col-12" placeholder="Describa el asunto de la reunión" formControlName="asunto"
              [modules]="quillConfig" (onBlur)="blur()" (onSelectionChanged)="onSelectionChanged()"></quill-editor>


            <div *ngIf="this.asunto?.invalid && (this.asunto?.dirty || this.asunto?.touched)" class="div-asunto">
              <!-- Errores con expresiones regulares -->
              <div *ngIf="this.asunto?.hasError('required')" class="animated fadeIn fast text-danger texto-asunto"
                id="">
                Este campo es requerido.
              </div>
            </div>

          </div>

          <!-- Form directivos -->
          <div class="row form-group div-prioridad">
            <section class="example-section">
              <p class="example-margin">Prioridad:</p>
              <mat-radio-group formControlName="prioridad">
                <mat-radio-button class="example-margin ms-4" value="alta">Alta</mat-radio-button>
                <mat-radio-button class="example-margin ms-4" value="media">Media</mat-radio-button>
                <mat-radio-button class="example-margin ms-4" value="baja">Baja</mat-radio-button>

                <!-- Validacion -->
                <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                <mat-hint *ngIf="this.prioridad?.invalid && (this.prioridad?.dirty || this.prioridad?.touched)">
                  <!-- Errores con expresiones regulares -->
                  <div *ngIf="this.prioridad?.hasError('required')" class="animated fadeIn fast text-danger" id="">
                    Este campo es requerido.
                  </div>
                </mat-hint>
              </mat-radio-group>
            </section>
          </div>


        </div>
        <div class="modal-footer p-4 mt-5">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary" [disabled]="this.formulario.invalid">Guardar Registro</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- FIN Modal_registrar_reuniones -->


<!-- Modal_modificar_reuniones -->
<div class="modal fade animated fadeIn fast" id="myModal_modificar" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h1 class="modal-title fs-5 text-white display-6" id="exampleModalLabel">MODIFICAR REGISTRO DE CONFLICTOS</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Formulario reunion -->
      <form class="ps-4 pt-4 pe-4 pb-0" [formGroup]="this.formularioModificar" (ngSubmit)="submitModificar()">
        <div class="modal-body">
          <div class="row">
            <!-- Campos motivo -->
            <div class="col-12 col-md-6 form-group">
              <p class="mb-0">Motivo:</p>
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Motivo</mat-label>
                <input type="text" matInput formControlName="motivoModificar" autocomplete="off" spellcheck="false">

                <!-- Validacion -->
                <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                <mat-hint
                  *ngIf="this.motivoModificar?.invalid && (this.motivoModificar?.dirty || this.motivoModificar?.touched)">
                  <!-- Errores con expresiones regulares -->
                  <div *ngIf="this.motivoModificar?.hasError('required')" class="animated fadeIn fast text-danger"
                    id="">
                    Este campo es requerido.
                  </div>
                </mat-hint>
              </mat-form-field>
            </div>

            <!-- Campo fecha Reunión -->
            <div class="col-12 col-md-6 form-group">
              <!-- Fecha reunion -->
              <p class="m-t-30 mb-0">Fecha reunión:</p>
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Fecha reunión</mat-label>
                <input formControlName="fecha_reunionModificar" matInput [matDatepicker]="pickerDos">
                <mat-datepicker-toggle matSuffix [for]="pickerDos"></mat-datepicker-toggle>
                <mat-datepicker #pickerDos></mat-datepicker>
                <!-- Validacion -->
                <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                <mat-hint
                  *ngIf="this.fecha_reunionModificar?.invalid && (this.fecha_reunionModificar?.dirty || this.fecha_reunionModificar?.touched)">
                  <!-- Errores con expresiones regulares -->
                  <div *ngIf="this.fecha_reunionModificar?.hasError('required')"
                    class="animated fadeIn fast text-danger" id="">
                    Este campo es requerido.
                  </div>
                </mat-hint>
              </mat-form-field>
            </div>
          </div>


          <!-- Campos Asunto -->
          <div class="row form-group">

            <p class="mb-1">Asunto:</p>
            <quill-editor class="col-12" placeholder="Describa el asunto de la reunión"
              formControlName="asuntoModificar" [modules]="quillConfig" (onBlur)="blur()"
              (onSelectionChanged)="onSelectionChanged()"></quill-editor>


            <div *ngIf="this.asuntoModificar?.invalid && (this.asuntoModificar?.dirty || this.asuntoModificar?.touched)"
              class="div-asunto">
              <!-- Errores con expresiones regulares -->
              <div *ngIf="this.asuntoModificar?.hasError('required')"
                class="animated fadeIn fast text-danger texto-asunto" id="">
                Este campo es requerido.
              </div>
            </div>

          </div>

          <!-- Form Prioridad -->
          <div class="row form-group div-prioridad">

            <section class="col-12 col-lg-4 example-section">
              <p class="example-margin">Prioridad:</p>
              <mat-radio-group formControlName="prioridadModificar">
                <mat-radio-button class="example-margin ms-4" value="alta">Alta</mat-radio-button>
                <mat-radio-button class="example-margin ms-4" value="media">Media</mat-radio-button>
                <mat-radio-button class="example-margin ms-4" value="baja">Baja</mat-radio-button>

                <!-- Validacion -->
                <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                <mat-hint
                  *ngIf="this.prioridadModificar?.invalid && (this.prioridadModificar?.dirty || this.prioridadModificar?.touched)">
                  <!-- Errores con expresiones regulares -->
                  <div *ngIf="this.prioridadModificar?.hasError('required')" class="animated fadeIn fast text-danger"
                    id="">
                    Este campo es requerido.
                  </div>
                </mat-hint>
              </mat-radio-group>
            </section>

            <!-- Campo estado -->
            <section class="col-12 col-lg-4 mt-4 mt-lg-0 example-section">
              <p class="example-margin mb-0">Estado:</p>
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Estado</mat-label>
                <mat-select formControlName="estado">
                  <mat-option *ngFor="let estado of estados" [value]="estado.value">
                    {{estado.estado}}
                  </mat-option>
                </mat-select>
                <!-- Validacion -->
                <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                <mat-hint *ngIf="this.estado?.invalid && (this.estado?.dirty || this.estado?.touched)">
                  <!-- Errores con expresiones regulares -->
                  <div *ngIf="this.estado?.hasError('required')" class="animated fadeIn fast text-danger" id="">
                    Este campo es requerido.
                  </div>
                </mat-hint>
              </mat-form-field>
            </section>


            <!-- Campo estado_reunion -->
            <section class="col-12 col-lg-4 example-section">
              <p class="example-margin mb-0">Estado reunión:</p>
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Estado reunión</mat-label>
                <mat-select formControlName="estado_reunion">
                  <mat-option *ngFor="let item of estadoReunion" [value]="item.value">
                    {{item.estado}}
                  </mat-option>
                </mat-select>
                <!-- Validacion -->
                <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                <mat-hint
                  *ngIf="this.estado_reunion?.invalid && (this.estado_reunion?.dirty || this.estado_reunion?.touched)">
                  <!-- Errores con expresiones regulares -->
                  <div *ngIf="this.estado_reunion?.hasError('required')" class="animated fadeIn fast text-danger" id="">
                    Este campo es requerido.
                  </div>
                </mat-hint>
              </mat-form-field>
            </section>

          </div>

        </div>
        <div class="modal-footer p-4 mt-5">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary" [disabled]="this.formularioModificar.invalid">Guardar
            Registro</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- FIN Modal_modificar_reuniones -->
