<nav class="navbar navbar-expand-lg navbar-dark bg-dark animated fadeIn fast navegacion-principal">
  <div class="container">
    <a class="navbar-brand">
      <img src="../../../assets/img/logo-gobernacion.png" alt="Logo" width="300" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link text-uppercase" [routerLink]="[ '/home' ]" routerLinkActive="active">Inicio</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-uppercase" [routerLink]="[ '/home/usuarios' ]" routerLinkActive="active">Usuarios</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-uppercase" [routerLink]="[ '/home/reuniones' ]"
            routerLinkActive="active">Reuniones</a>
        </li>

        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle text-uppercase" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">Reportes</a>
          <ul class="dropdown-menu">

            <!-- <li class="cursor-pointer">
              <a class="dropdown-item " [routerLink]="[ '/home/porfecha']"><i class="bi bi-calendar-week"></i> Por
                fecha</a>
            </li> -->
            <li class="cursor-pointer"><a class="dropdown-item" [routerLink]="[ '/home/pormotivo']"><i
                  class="bi bi-card-checklist"></i>
                Por motivo</a>
            </li>
            <li class="cursor-pointer"><a class="dropdown-item " [routerLink]="[ '/home/rangofechas']"><i
                  class="bi bi-calendar3"></i>
                Por rango de fechas</a>
            </li>
            <!-- <li class="cursor-pointer"><a class="dropdown-item" [routerLink]="[ '/home/estadoreunion']"><i
                  class="bi bi-person-video2"></i>
                Por estado reunión</a>
            </li> -->
          </ul>
        </li>

      </ul>
      <form class="d-flex" role="search">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-uppercase" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false"><i class="icono-usuario bi bi-person-square"></i>
              {{ this.usuario.nombres }} {{ this.usuario.apellidos }}
            </a>
            <ul class="dropdown-menu">

              <li class="cursor-pointer"><a class="dropdown-item text-uppercase" (click)="this.logout()"><i
                    class="icono-apagar bi bi-power"></i>
                  Salir del Sistema</a></li>
            </ul>
          </li>
        </ul>
      </form>
    </div>
  </div>
</nav>
