<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-12 text-center">
      <img src="../../../assets/img/estadoPrurinacional.png" alt="Logo sistema de conflictos">
      <h1 class="display-5 text-uppercase">Sistema de Registro de Conflictos</h1>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal_agregar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h1 class="modal-title fs-5 text-white display-6" id="exampleModalLabel">REGISTRO DE CONFLICTOS</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Formulario reunion -->
        <form [formGroup]="this.formulario" (ngSubmit)="submit()">

          <!-- Campos nombres -->
          <div class="form-group">
            <p class="mb-0">Nombres</p>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Nombres</mat-label>
              <input type="text" matInput formControlName="nombres" autocomplete="off" spellcheck="false">

              <!-- Validacion -->
              <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
              <mat-error *ngIf="this.nombres?.invalid && (this.nombres?.dirty || this.nombres?.touched)">
                <!-- Errores con expresiones regulares -->
                <div *ngIf="this.nombres?.hasError('required')" class="animated fadeIn fast text-danger" id="">
                  Este campo es requerido.
                </div>
              </mat-error>
            </mat-form-field>
          </div>
          <!-- Campos apellidos -->
          <div class="form-group">
            <p class="mb-0">Apellidos</p>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Apellidos</mat-label>
              <input type="text" matInput formControlName="apellidos" autocomplete="off" spellcheck="false">

              <!-- Validacion -->
              <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
              <mat-error *ngIf="this.apellidos?.invalid && (this.apellidos?.dirty || this.apellidos?.touched)">
                <!-- Errores con expresiones regulares -->
                <div *ngIf="this.apellidos?.hasError('required')" class="animated fadeIn fast text-danger" id="">
                  Este campo es requerido.
                </div>
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Campos motivo -->
          <div class="form-group">
            <p class="mb-0">Motivo</p>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Motivo</mat-label>
              <input type="text" matInput formControlName="motivo" autocomplete="off" spellcheck="false">

              <!-- Validacion -->
              <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
              <mat-error *ngIf="this.motivo?.invalid && (this.motivo?.dirty || this.motivo?.touched)">
                <!-- Errores con expresiones regulares -->
                <div *ngIf="this.motivo?.hasError('required')" class="animated fadeIn fast text-danger" id="">
                  Este campo es requerido.
                </div>
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Campos Asunto -->
          <div class="form-group">
            <p class="mb-0">Asunto</p>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Asunto</mat-label>
              <input type="text" matInput formControlName="asunto" autocomplete="off" spellcheck="false">

              <!-- Validacion -->
              <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
              <mat-error *ngIf="this.asunto?.invalid && (this.asunto?.dirty || this.asunto?.touched)">
                <!-- Errores con expresiones regulares -->
                <div *ngIf="this.asunto?.hasError('required')" class="animated fadeIn fast text-danger" id="">
                  Este campo es requerido.
                </div>
              </mat-error>
            </mat-form-field>
          </div>


          <div class="form-group">
            <!-- Fecha reunion -->
            <p class="m-t-30 mb-0">Fecha reunión</p>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Fecha reunión</mat-label>
              <input formControlName="fecha_reunion" matInput [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <!-- Validacion -->
              <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
              <mat-hint
                *ngIf="this.fecha_reunion?.invalid && (this.fecha_reunion?.dirty || this.fecha_reunion?.touched)">
                <!-- Errores con expresiones regulares -->
                <div *ngIf="this.fecha_reunion?.hasError('required')" class="animated fadeIn fast text-danger" id="">
                  Este campo es requerido.
                </div>
              </mat-hint>
            </mat-form-field>
          </div>

          <!-- Form directivos -->
          <div class="form-group">
            <section class="example-section">
              <p class="m-t-30">Prioridad</p>
              <mat-checkbox formControlName="directivo" class="example-margin">Marque aqui si pertenece al
                directorio!</mat-checkbox>
              <!-- <mat-checkbox class="example-margin" [disabled]="true">Disabled</mat-checkbox> -->
            </section>
          </div>


        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Guardar Registro</button>
      </div>
    </div>
  </div>
</div>
