<div class="container-fluid mt-4 animated fadeIn fast">
  <div class="row">
    <div class="col-12 text-center">
      <img src="../../../assets/img/estadoPrurinacional.png" alt="Logo sistema de conflictos">
      <h1 class="display-5 text-uppercase">Sistema de Registro de Conflictos</h1>
    </div>
  </div>
</div>




<!-- Modal_registrar_reuniones -->
<div class="modal fade animated fadeIn fast" id="myModal_agregar" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h1 class="modal-title fs-5 text-white display-6" id="exampleModalLabel">REGISTRO DE CONFLICTOS</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Formulario reunion -->
      <form class="ps-4 pt-4 pe-4 pb-0" [formGroup]="this.formulario" (ngSubmit)="submit()">
        <div class="modal-body">
          <div class="row">
            <!-- Campos motivo -->
            <div class="col-12 col-md-6 form-group">
              <p class="mb-0">Motivo</p>
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Motivo</mat-label>
                <input type="text" matInput formControlName="motivo" autocomplete="off" spellcheck="false">

                <!-- Validacion -->
                <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                <mat-hint *ngIf="this.motivo?.invalid && (this.motivo?.dirty || this.motivo?.touched)">
                  <!-- Errores con expresiones regulares -->
                  <div *ngIf="this.motivo?.hasError('required')" class="animated fadeIn fast text-danger" id="">
                    Este campo es requerido.
                  </div>
                </mat-hint>
              </mat-form-field>
            </div>

            <!-- Campo fecha Reunión -->
            <div class="col-12 col-md-6 form-group">
              <!-- Fecha reunion -->
              <p class="m-t-30 mb-0">Fecha reunión</p>
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Fecha reunión</mat-label>
                <input formControlName="fecha_reunion" matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <!-- Validacion -->
                <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                <mat-hint
                  *ngIf="this.fecha_reunion?.invalid && (this.fecha_reunion?.dirty || this.fecha_reunion?.touched)">
                  <!-- Errores con expresiones regulares -->
                  <div *ngIf="this.fecha_reunion?.hasError('required')" class="animated fadeIn fast text-danger" id="">
                    Este campo es requerido.
                  </div>
                </mat-hint>
              </mat-form-field>
            </div>
          </div>


          <!-- Campos Asunto -->
          <div class="row form-group">

            <p class="mb-1">Asunto</p>
            <quill-editor class="col-12" placeholder="Describa el asunto de la reunión" formControlName="asunto"
              [modules]="quillConfig" (onBlur)="blur()" (onSelectionChanged)="onSelectionChanged()"></quill-editor>


            <div *ngIf="this.asunto?.invalid && (this.asunto?.dirty || this.asunto?.touched)" class="div-asunto">
              <!-- Errores con expresiones regulares -->
              <div *ngIf="this.asunto?.hasError('required')" class="animated fadeIn fast text-danger texto-asunto"
                id="">
                Este campo es requerido.
              </div>
            </div>

          </div>

          <!-- Form directivos -->
          <div class="row form-group div-prioridad">
            <section class="example-section">
              <p class="example-margin">Prioridad:</p>
              <mat-radio-group formControlName="prioridad">
                <mat-radio-button class="example-margin ms-4" value="alta">Alta</mat-radio-button>
                <mat-radio-button class="example-margin ms-4" value="media">Media</mat-radio-button>
                <mat-radio-button class="example-margin ms-4" value="baja">Baja</mat-radio-button>

                <!-- Validacion -->
                <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                <mat-hint *ngIf="this.prioridad?.invalid && (this.prioridad?.dirty || this.prioridad?.touched)">
                  <!-- Errores con expresiones regulares -->
                  <div *ngIf="this.prioridad?.hasError('required')" class="animated fadeIn fast text-danger" id="">
                    Este campo es requerido.
                  </div>
                </mat-hint>
              </mat-radio-group>
            </section>
          </div>


        </div>
        <div class="modal-footer p-4 mt-5">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary" [disabled]="this.formulario.invalid">Guardar Registro</button>
        </div>
      </form>
    </div>
  </div>
</div>
